<footer id="footer" class="footer" role="contentinfo">
  <div class="footer-logo">
    <%= image_tag 'logo-minimal.svg', alt: 'Logo' %>
  </div>
  <div class="social-links">
    <% link_to 'https://twitter.com/tracersoft', target: '_blank' do %>
      <%= image_tag 'icon-twitter.svg', alt: 'Twitter' %>
    <% end %>
    <% link_to 'http://github.com/tracersoft', target: '_blank' do %>
      <%= image_tag 'icon-github.svg', alt: 'Github' %>
    <% end %>
    <% link_to 'http://facebook.com/tracersoft', target: '_blank' do %>
      <%= image_tag 'icon-facebook.svg', alt: 'Facebook' %>
    <% end %>
    <% link_to 'https://www.linkedin.com/company/tracersoft', target: '_blank' do %>
      <%= image_tag 'icon-linkedin.svg', alt: 'Linkedin' %>
    <% end %>
  </div>


  <hr>

  <p><a href="http://tracersoft.com.br">@2015 tracersoft</a> </p>
</footer>
