<% wrap_layout :layout do %>
  <center>
    <article class="type-system-rounded">
      <h1><%= current_article.title %></h1>
      <p class="created_at"> 
        Escrito por: <span> <%= current_article.data.author %> </span> em <span class='date'> <%= current_article.date.strftime('%e de %B de %Y') %> </span>
      </p>
      <p>
        <%= blog.articles%>

      </p>
      <%= yield %>
    </article>
  </center>
<% end %>
